## Problem Statement

You are a data scientist at a business efficiency consulting firm. Your client, a multinational corporation, has recently implemented a series of cost-saving measures across various departments.  To evaluate the impact of these initiatives, the company has compiled a sample dataset named **"operational_costs_data.csv"**. This sample dataset tracks the percentage reduction in operational costs for each department post-implementation of the cost-saving activities. The dataset includes the following columns:



- **department_id:** A unique identifier for each department.
- **cost_reduction_pct:** The percentage reduction in operational costs for each department following the cost-saving measures..

The primary goal of the analysis is to determine whether these cost-saving measures have effectively reduced operational costs beyond the company's target of 8%.

In [1]:
#given population parameters

population_mean = 7  #(indicating an average cost reduction target of 7% before the series of cost-saving measures).
population_std_dev = 3  #(variability).

**Import Necessary Libraries**

In [2]:
import numpy as np
import pandas as pd
from scipy import stats

### Task1: Data Import

1. Import the data from the "operational_costs_data.csv" file.
2. display the number of rows and columns. 
3. Display the first few rows of the dataset to get an overview.

In [3]:
df = pd.read_csv('operational_costs_data.csv')
print(df.shape)
df.head()

(100, 2)

  department_id  cost_reduction_pct
0          D001                7.40
1          D002               11.31
2          D003               10.78
3          D004                8.79
4          D005                3.29

### Task2: Define Hypotheses

- State the null and alternative hypotheses based on the given scenario.

### Null Hypothesis(Ho): The operational cost reduction is 8%
### Alternate Hypothesis(Ha): The operational cost reduction is greater than 8%

### Task3: Calculate Test Statistics

- Compute the sample mean of cost_reduction_pct.
- Determine the sample size.
- Calculate the standard error using the provided population standard deviation.
- Compute the Z-score for the test statistic

In [4]:
#1. sample mean of cost_reduction_pct
sample_mean = df.cost_reduction_pct.mean()
sample_mean

7.2562

In [5]:
#2. sample size
sample_size = df.shape[0]
sample_size

100

In [6]:
#3. standard error
standard_error = population_std_dev/np.sqrt(sample_size)
standard_error

0.3

In [7]:
#4. z_score
z_score = (sample_mean-population_mean)/standard_error
z_score

0.8539999999999992

### Task4: Determine Z-critical Value

- Set the significance level (e.g., alpha = 0.05).
- Find the critical Z-value corresponding to this alpha level.

In [8]:
#defining significance level
alpha=0.05
z_critical = stats.norm.ppf(1-alpha)

In [9]:
#critical value
z_critical

1.644853626951472

### Task5: Decision Making

- Compare the calculated Z-score with the critical Z-value.
- Decide whether to reject or fail to reject the null hypothesis.
- Write a conclusion summarizing the findings.

In [10]:
print("Z score: ",z_score)
print("Z critical: ",z_critical)

Z score:  0.8539999999999992
Z critical:  1.644853626951472

## Summary

#### Since, z score is less than z critical. We fail to reject null hypothesis as there is no sufficient evidence. This tells us that these cost saving measures have not significantly reduced the operation costs beyonds companies target which is 8%