# Telecom Customer Churn Case Study

You have been provided with a dataset related to telecom customer churn. Each row in the dataset represents a unique customer, and the columns contain various attributes and information about these customers.

The data set includes information about:
- Churn Column: Indicates customer churn within the last month.
- Services Info: Subscribed services like phone, internet, etc.
- Account Details: Tenure, contract, billing, charges.
- Demographics: Gender, age, and family status.

## Load the dataset in a dataframe

In [1]:
#import necessary libraries
import pandas as pd

In [2]:
#1. import the provided dataset to dataframe (telecom_customer_churn.csv)
#2. change the settings to display all the columns
#3. check the number of rows and columns
#4. check the top 5 rows

df = pd.read_csv('telecom_customer_churn.csv')
pd.set_option('display.max_columns', None)
print(df.shape)
df.head(5)

(7043, 21)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
#display all the column names
df.columns

Index(['customer_id', 'gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 'internet_service',
       'online_security', 'online_backup', 'device_protection', 'tech_support',
       'streaming_tv', 'streaming_movies', 'contract', 'paperless_billing',
       'payment_method', 'monthly_charges', 'total_charges', 'churn'],
      dtype='object')

In [4]:
# Check if the dataset contains nulls
df.isnull().sum()

customer_id          0
gender               0
senior_citizen       0
partner              0
dependents           0
tenure               0
phone_service        0
multiple_lines       0
internet_service     0
online_security      0
online_backup        0
device_protection    0
tech_support         0
streaming_tv         0
streaming_movies     0
contract             0
paperless_billing    0
payment_method       0
monthly_charges      0
total_charges        0
churn                0
dtype: int64

In [5]:
#check the datatype of all columns

df.dtypes

customer_id           object
gender                object
senior_citizen         int64
partner               object
dependents            object
tenure                 int64
phone_service         object
multiple_lines        object
internet_service      object
online_security       object
online_backup         object
device_protection     object
tech_support          object
streaming_tv          object
streaming_movies      object
contract              object
paperless_billing     object
payment_method        object
monthly_charges      float64
total_charges         object
churn                 object
dtype: object

In [6]:
# Fix the datatype
#convert the datatype of 'monthly_charges', 'total_charges', 'tenure' to numeric datatype (pd.to_numeric)
cols_to_convert = ['monthly_charges', 'total_charges', 'tenure']
df[cols_to_convert] = df[cols_to_convert].apply(pd.to_numeric, errors='coerce')

print(df[cols_to_convert].dtypes)

monthly_charges    float64
total_charges      float64
tenure               int64
dtype: object

Q1 - Calculate the mean, median, and mode of the monthly_charges column

In [7]:
monthly_charges_mean = df['monthly_charges'].mean()
print("Mean: ",monthly_charges_mean)
monthly_charges_median = df['monthly_charges'].median()
print("Median: " ,monthly_charges_median)
monthly_charges_mode = df['monthly_charges'].mode()
print("Mode: ", monthly_charges_mode)

Mean:  64.76169246059918
Median:  70.35
Mode:  0    20.05
Name: monthly_charges, dtype: float64

Q2 - Calculate the 25th, 50th, and 75th percentiles of the total_charges column

In [8]:
percentile_25th = df['total_charges'].quantile(0.25)
print(percentile_25th)
percentile_50th = df['total_charges'].quantile(0.5)
print(percentile_50th)
percentile_75th = df['total_charges'].quantile(0.75)
print(percentile_75th)

401.45
1397.475
3794.7375

Q3 - Calculate the range of monthly_charges column?

Hint - Range is the difference between max and min of monthly_charges.

In [9]:
monthly_charges_range = df['monthly_charges'].max() - df['monthly_charges'].min()
print(monthly_charges_range)

100.5

Q4 - What is the first quartile of the monthly_charges column for customers who have not churned?

In [10]:
df[df['churn']=='No'].monthly_charges.quantile(0.25)

25.1

Q5 - What is the third quartile of the total_charges column for customers who have churned?

In [11]:
df[df['churn']=='Yes'].total_charges.quantile(0.75)

2331.3

Q6-  What is the mode of the payment method column for customers who have churned?

In [12]:
df[df['churn']=='Yes'].payment_method.mode()[0]

'Electronic check'

Q7 - What is the mean of the total charges column for customers who have churned and have a month-to-month contract?

In [13]:
# Filter the rows based on the churn status and contract type
df_filtered = df[(df.churn=='Yes') & (df.contract=='Month-to-month')]
# Calculate the mean of the total charges column
df_filtered['total_charges'].mean()

# Print the result

1164.4605740181269

Q8 - What is the median of the tenure column for customers who have not churned and have a two-year contract?

In [14]:
# Filter the rows based on the churn status and contract type
df_filtered = df[(df.churn=='No') & (df.contract=='Two year')]

# Calculate the median of the tenure column
df_filtered.tenure.median()

# Print the result

64.0